<!--form to edit the dream-->
<div class="container-form">
  <%= simple_form_for(@dream) do |f| %>
  <h1>DREAMERS,</h1>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :vibe, collection: Dream::VIBES%>
  <%= f.input :duration, label:'Duration (min)', placeholder: 'forever' %>
  <%= f.input :photo, class: 'text' %>
  <%= f.input :photo_cache, as: :hidden, class: 'text'%>
  <%= f.submit 'UPDATE DREAM', class: 'create-button-form' %>
  <% end %>
</div>

