<div class="container">
  <h1>Add a new dream</h1>
  <%= simple_form_for(@dream) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :vibe %>
  <%= f.input :duration %>
  <%= f.submit 'create dream'%>
  <% end %>
</div>
