<div class="container-form">
  <%= simple_form_for(@dream, :defaults => { :input_html => { :class => "text" } }) do |f| %>
  <h1>DREAMERS,</h1>
  <%= f.input :title, class: 'text' %>
  <%= f.input :description, class: 'text' %>
  <%= f.input :vibe, collection: Dream::VIBES, class: 'text'%>
  <%= f.input :duration, label:'Duration (min)', placeholder: 'forever', class: 'text' %>
  <%= f.input :photo, class: 'text' %>
  <%= f.input :photo_cache, as: :hidden, class: 'text'%>
  <%= f.submit 'POST DREAM', class: 'create-button' %>
  <% end %>
</div>

