<!--Dream show page with the details-->

<div class="container">
  <h1>This is a nice dream test page!</h1>

  <h2>Title: <%= @dream.title %></h2>

  <p>Description: <%= @dream.description %></p>

  <p>Duration: <%= @dream.duration %></p>

  <p>vibe: <%= @dream.vibe %></p>

<!-- edit button, only for dream creator-->

  <% if policy(@dream).edit? %>
  <%= link_to 'edit this dream', edit_dream_path(@dream), class: 'btn btn-primary' %>
  <% end %>
  <br>

<!-- Back to home button-->

  <%= link_to 'Back to home', root_path, class: 'btn btn-primary' %>

</div>
