<h1>This is a nice dream test page!</h1>

<h2><%= @dream.title %></h2>

<p><%= @dream.description %></p>

<p><%= @dream.duration %></p>

<p><%= @dream.vibe %></p>

<%= link_to 'Back to home', root_path %>
