<!--Dream show page with the details-->


<div class="container-form">

  <h2 class="dream-title"><%= @dream.title %></h2>
    <%  if @dream.photo.present? %>
    <%= cl_image_tag @dream.photo, height: 600, width: 800, crop: :fill, class: 'dream-image' %>
    <% else %>
    <%= image_tag "http://getwallpapers.com/wallpaper/full/f/e/b/1156420-full-size-hd-gradient-wallpapers-2560x1440-free-download.jpg", alt: "alttext" %>
<!-- standard picture -->
<% end %>



  <% if @dream.user != current_user%>
    <%= link_to 'DREAM THIS', new_dream_booking_path(@dream), class: 'create-button-form' %>
  <% end %>



<!-- edit and delete button, only for dream creator or admin-->

  <% if policy(@dream).edit? %>
  <%= link_to 'EDIT', edit_dream_path(@dream), class: 'create-button-form' %>
  <% end %>
  <br> <br>
  <% if policy(@dream).destroy? %>
  <%= link_to 'DELETE', delete_dream_path, method: :delete, data: { confirm: "Delete #{@dream.title}?" }, class: 'create-button-form' %>

   <p>Description: <%= @dream.description %></p>

  <p>Duration: <%= @dream.duration %></p>

  <p>Vibe: <%= @dream.vibe %></p>
  <% end %>
</div>

