<div class="container">
  <div class="form-design">
    <h1>Edit your profile</h1>
    <%= simple_form_for(@user) do |f| %>
    <%= f.input :nickname %>
    <%= f.input :photo, class: 'text' %>
    <%= f.input :photo_cache, as: :hidden, class: 'text'%>
    <%= f.submit "Save changes" %>
    <% end %>
  </div>
</div>
