<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.psdgraphics.com/file/magical-sky-background.jpg)">
</div>
  <h1 class="tagline">WELL CURATED DREAMS<br>SHIPPED INSTANTLY<br> WITH CARE </h1>

<!-- Search function container -->
<div>
  <%= form_tag root_path, method: :get do %>
    <%= label :name, 'Filter here the dreams depending on the vibe:' %>
    <% vibes_array = Dream::VIBES %>
    <div class="dropdown">
      <%= select_tag :query,
          options_for_select(vibes_array),
          class: 'dropdown-item' %>
      <%= submit_tag "Search", class: 'create-button' %>
      <% end %>
    </div>
</div>

<%# Cards %>
<% if params[:query].present? %>
  <p>The current dreams with the vibe "<%= params[:query] %>" are:</p>
  <% @dreams.each do |dream| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dream.photo %>)">
          <%= link_to dream.title, dream_path(dream) %>
        </div>
      <% end %>
<% else %>
  <div class="cards">
    <% @dreams.each do |dream| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= dream.photo %>)">
        <%= link_to dream.title, dream_path(dream) %>
      </div>
    <% end %>
  </div>
<% end %>


<!-- Back to all Dreams after a search -->
<%= link_to '*All dreams*', root_path, class: 'create-button' %>

<!--Button to add a new dream-->
<%= link_to '*Post your dream*', new_dream_path, class: 'create-button' %>
