<div class="container" id="user-dashboard">
  <% if @user.photo.present?  %>
    <%= cl_image_tag(@user.photo, width: 200, height: 200, crop: :thumb, gravity: :face, radius: :max, class: 'avatar-large')%>
  <% else %>
    <img class="avatar-large" alt="avatar-large" src="https://seedlingsgardening.com/wp-content/uploads/sites/9/2016/11/avatar.jpg" />
  <% end %>
  <h1><%= @user.nickname %></h1>
  <%= link_to 'Edit your profile', edit_user_path(@user) %>
  <h3><strong><%= @user.nickname %>'s</strong> posted dreams:</h3>

<!--If the @user IS the current user (own profile)-->

  <% if @user == current_user %>

<!--Go over @dreams (user.dreams)-->

    <% @dreams.each do |dream| %>
      <div class="row">
        <div class="col-sm">

<!--First column: display dream image-->
          <% url = "http://res.cloudinary.com/dl33w8wdg/#{dream.photo.identifier}" %>
          <%= image_tag(url) %>
        </div>
        <div class="col-sm">
          <h2><%= dream.title %></h2>

<!--Second column: if bookings is empty, say there are no bookings-->
          <% if dream.bookings.empty? %>
            <p>Whoops - this dream hasn't been booked yet.</p>

          <% else %>

<!--If there are bookings, show the nickname of the bookers and stats-->

            <%= dream.bookings.each do |booking| %>
              <p>Booked by:<%= booking.user.nickname %>, on  <%= booking.created_at %>, for <%= booking.date_booking %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

<!--User's OWN bookings-->

<!--If Bookings are empty, say there are none-->

    <h3><strong><%= @user.nickname %>'s</strong> booked dreams:</h3>
     <% if @user.bookings.empty? %>
       <p>Whoops - I still haven't booked any dream :(</p>
     <% end %>

<!--else, show the user's OWN bookings & update/delete buttons-->
    <div class="row">
      <% @user.bookings.each do |booking| %>
        <div class="col-sm">
          <h2><%= booking.dream.title %>, booked on <%= booking.date_booking  %></h2>
        </div>
        <div class="col-sm">
          <%= link_to 'UPDATE BOOKING', edit_dream_booking_path(booking.dream, booking), class: 'create-button-form' %>
          <%= link_to 'DELETE BOOKING', dream_booking_path(booking.dream, booking),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: 'create-button-form' %>
        </div>
      <% end %>
    </div>
  <!--if @user is NOT!! the current user (someone else's profile)-->

  <% else %>
  <!--go over the dreams they posted-->

    <% @dreams.each do |dream| %>
      <div class="row">
        <div class="col-sm">

  <!--First column: display dream image-->

          <% url = "http://res.cloudinary.com/dl33w8wdg/#{dream.photo.identifier}" %>
          <%= image_tag(url) %>
        </div>
        <div class="col-sm">

  <!--Second column: show title, description, vibe-->

          <h2><%= dream.title %></h2>
          <p><%= dream.description %></p>
          <p>Vibe: <%= dream.vibe %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
