<div class="container" id="user-dashboard">

  <div class="header">
  <% if @user.photo.present?  %>
    <%= cl_image_tag(@user.photo, width: 300, height: 300, crop: :thumb, gravity: :face, radius: :max, class: 'avatar-large')%>
  <% else %>
    <%= cl_image_tag("whzexbgwqgsw5xgctrit",
      width: 300, height: 300, crop: :fill, class: 'avatar-large') %>
  <% end %>
  <div class="header-text">
    <h1><%= @user.nickname %></h1>
    <% if @user == current_user %>
      <%= link_to 'Edit your profile', edit_user_path(@user) %>
    <% else %>
      <p>Discover the dreams of your friend!</p>
    <% end %>
  </div>
</div>

  <h3><strong><%= @user.nickname %>'s</strong> posted dreams:</h3>
<!--If the @user IS the current user (own profile)-->
  <% if @user == current_user %>
<!-- Go over @dreams (user.dreams) -->
      <% @dreams.each do |dream| %>
      <!--First column: display dream image-->
      <div class="own-dreams">
        <% url = "http://res.cloudinary.com/dl33w8wdg/#{dream.photo.identifier}" %>
        <%= image_tag(url) %>
        <div class="own-dreams-text">
          <h4><%= link_to dream.title, dream_path(dream) %></h4>
             <!--Second column: if bookings is empty, say there are no bookings-->
            <% if dream.bookings.empty? %>
              <h5>Whoops - this dream hasn't been booked yet.</h5>
            <!--If there are bookings, show the nickname of the bookers and stats-->
            <% else %>
              <% dream.bookings.each do |booking| %>
                <p>Booked by:<%= booking.user.nickname %>, on  <%= booking.created_at %>, for <%= booking.date_booking %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

    <!--User's OWN bookings-->

    <h3><strong><%= @user.nickname %>'s</strong> booked dreams:</h3>
      <!--If Bookings are empty, say there are none-->
      <div class="own-booking">
       <% if @user.bookings.empty? %>
         <p>Whoops - I still haven't booked any dream :(</p>
      </div>
      <% else %>

      <!--else, show the user's OWN bookings & update/delete buttons-->
        <% @user.bookings.each do |booking| %>
         <div class="own-booking-present">
            <h4><%= link_to booking.dream.title, dream_path(booking.dream) %>, booked on <%= booking.date_booking  %></h4>
            <div class="action-booking">
              <%= link_to 'UPDATE', edit_dream_booking_path(booking.dream, booking), class: 'create-button' %>
              <%= link_to 'DELETE', dream_booking_path(booking.dream, booking),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: 'create-button' %>
            </div>
          </div>
        <% end %>
      <% end %>




  <!--if @user is NOT!! the current user (someone else's profile)-->
  <% else %>

    <!--go over the dreams they posted-->
    <% @dreams.each do |dream| %>
      <div class="own-dreams">
      <!--First column: display dream image-->
        <% url = "http://res.cloudinary.com/dl33w8wdg/#{dream.photo.identifier}" %>
        <%= image_tag(url) %>
        <!--Second column: show title, description, vibe-->
        <div class="own-dreams-text">
          <h4><%= link_to dream.title, dream_path(dream) %></h4>
          <p><%= dream.description %></p>
          <h5>Vibe: <%= dream.vibe %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
