<h1>WELCOME TO MY PAGE <%= @user.nickname %></h1>
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<h3>These are the dreams I posted:</h3>
<div class="cards">
  <% @dreams.each do |dream| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to dream.title, dream_path(dream) %>
    </div>
  <% end %>
</div>

<p class="nickname"></p>
<%= simple_form_for(@user) do |f| %>
  <!-- [...] -->
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden%>
  <%= f.submit %>
  <!-- [...] -->
<% end %>


<p>Things to set up here: profile picture, first/last name, nickname?</p>

<h3>User <%= @user.email %>'s posted dreams:</h3>
<ul>
  <% @user.dreams.each do |dream| %>
   <li><%= link_to dream.title, dream_path(dream) %></li>
  <% end %>
</ul>

<h2>User <%= @user.email %>'s booked dreams:</h2>

<ul>
  <% @user.bookings.each do |booking| %>
  <li><%= booking.dream.title %>, booked on <%= booking.date_booking %></li>
  <% end %>
</ul>
