<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="/">
      <%= image_tag "dreamlogo.png", alt: "logo", width: 800 %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://seedlingsgardening.com/wp-content/uploads/sites/9/2016/11/avatar.jpg" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { confirm: "Are you ready to take a nap?" }  %>
              <%= link_to 'Profile', user_profile_path(current_user), class: 'dropdown-item' %>
            </div>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to 'SIGN UP', new_user_registration_path , class: 'nav-link'  %>
          </li>
          <li class="nav-item">
            <%= link_to 'LOG IN', new_user_session_path, class: 'nav-link'  %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>
    <div class="footer">
  <div class="footer-links">
    <a href="#">CONTACT</i></a>
    <a href="#">TERMS & CONDTIONS</a>
    <a href="#">PRIVACY POLICY</a>
   </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
