<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DreamsBnB</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="/">
      <%= image_tag "cloud.png", alt: "logo", width: 800 %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

 <!--dropdown: if user session is active, it will show the avatar-->
 <!--else: it will show sign up/sign in options-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'POST YOUR DREAM', new_dream_path , class: 'nav-link'  %>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src=<%= current_user.photo %> />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to 'Profile', user_profile_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete, data: { confirm: "Are you ready to take a nap?" }  %>
            </div>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'SIGN UP', new_user_registration_path , class: 'nav-link'  %>
            </li>
            <li class="nav-item">
              <%= link_to 'LOG IN', new_user_session_path, class: 'nav-link'  %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= yield %>
 <!--    <div class="footer">
      <div class="footer-links">
        <a href="https://film-grab.com/2013/11/13/the-big-lebowski/#bwg1497/93095">SNOOZE</a>
        <a href="https://film-grab.com/2015/10/20/back-to-the-future/#bwg571/35041">NAP</a>
        <a href="https://film-grab.com/2017/02/13/the-matrix/#bwg19/911">DEEP</a>
      </div>
    </div> -->

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
